body, html {
  background-color: #eddada;
}

.pig {
  width:20em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer {
  width:20em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.github {
  width:10em;
}
